@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */
/* global css start */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Lexend", serif;
    background-color: #050505;
  }
  
  body::-webkit-scrollbar {
    width: 0.5em;
    display: none;
  }
  
  body::-webkit-scrollbar-track {
    background: linear-gradient(
      180deg,
      rgba(2, 2, 1, 0.1) 0%,
      rgba(16, 17, 14, 0.1) 100%
    );
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.1) inset;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(
      --Gradient-5,
      linear-gradient(180deg, #99ffa3 0%, #68ee76 100%)
    );
    outline: 0.5px solid #fff;
    border-radius: 30px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a,
  span {
    display: inline-block;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    margin: 0 auto;
    width: 90%;
  }
  
  @media (min-width: 1600px) {
    .container {
      max-width: 1520px;
    }
  }
  
  /* global css end */
  
/* button css start */
a.btn {
  overflow: hidden;
  position: relative;
}
a.btn span {
  transition: 0.8s;
}
a.btn::before,
a.btn::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #00c487;
  top: 50%;
  border-radius: 50%;
  z-index: -1;
}
a.btn.blue::before,
a.btn.blue::after {
  background: #fff;
}
a.btn.tab::before,
a.btn.tab::after {
  background: linear-gradient(
    90deg,
    #1c37e8 0%,
    #69f0f0 34.77%,
    #2898ff 64.53%,
    #e990ff 100%
  );
}

a.btn::before {
  transform: translate(-50%, -50%);
  left: -20px;
}

a.btn::after {
  transform: translate(50%, -50%);
  right: -20px;
}

a.btn:hover::before,
a.btn.active::before {
  animation: move-left 0.8s both;
  animation-direction: alternate;
  z-index: 1;
}
a.btn:hover::after,
a.btn.active::after {
  animation: move-right 0.8s both;
  animation-direction: alternate;
  z-index: 1;
}

a.btn:hover {
  color: #fff;
}
a.btn.blue:hover {
  color: #1972f5;
}
@keyframes move-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    height: 600px;
    width: 600px;
  }
}

@keyframes move-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    height: 600px;
    width: 600px;
  }
}

/* button css end */

                    
  .bg-rotate-animation { 
  background: linear-gradient(345deg, #00c487,  #00c48700, #00c487, #00c48700, #00c487, #00c48700, #00c487, #00c48700, #00c487);
  background-size: 800% 800%;
  
    animation: rainbow 10s ease infinite;
  }
  .bg-rotate-small { 
  background: linear-gradient(345deg, #00c48700 20%, #00c487 50%,  #00c48700 80%);
  background-size: 300% 100%;
  
    animation: rainbow 5s ease infinite;
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%; }
      100%{background-position:0% 82%}
  }
    
  